@using BEL.ArtworkWorkflow.Models.ExistingArtwork
@using BEL.ArtworkWorkflow.Models.Common
@using BEL.ArtworkWorkflow.Models.Master;
@using BEL.CommonDataContract;
@model List<ExistingArtworkAttachment>
@{
    string strArtworkType = string.Empty;
    bool isfileavailable = false; 
}

<div class="table-responsive" id="existingAttachment">
</div>
<div>
    <table class="table table-hover table-bordered someTable">
        <thead>
            <tr>
                @*<th>Sr No</th>*@
                <th>@Html.ResourceValue("Grid_Title_ArtworkType", ResourceNames.Artwork)</th>
                <th>@Html.ResourceValue("Grid_Title_FileName", ResourceNames.Artwork)</th>
                @*<th>@Html.ResourceValue("Grid_Title_Action", ResourceNames.Common)</th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {

                for (int idx = 0; idx < Model.Count; idx++)
                {
                    if (Model[idx].Files != null && Model[idx].Files.Count != 0)
                    {
                        isfileavailable = true;
                    }
                    if (Model[idx].ItemAction != null || Model[idx].ItemAction != ItemActionStatus.DELETED)
                    {
                        strArtworkType = strArtworkType + "," + Model[idx].ArtworkType;
                        @Html.Hidden("TempExistingAttachment[" + idx + "].Index", Model[idx].Index)
                        @Html.Hidden("TempExistingAttachment[" + idx + "].ArtworkType", Model[idx].ArtworkType)
                        @Html.Hidden("TempExistingAttachment[" + idx + "].ArtworkTypeCode", Model[idx].ArtworkTypeCode)
                        @Html.Hidden("TempExistingAttachment[" + idx + "].ID", Model[idx].ID)
                        @Html.Hidden("TempExistingAttachment[" + idx + "].RequestID", Model[idx].RequestID)
                        @Html.Hidden("TempExistingAttachment[" + idx + "].RequestBy", Model[idx].RequestBy)
                        @Html.Hidden("TempExistingAttachment[" + idx + "].RequestDate", Model[idx].RequestDate)
                        @Html.Hidden("TempExistingAttachment[" + idx + "].FileName", Model[idx].FileName)
                        @Html.Hidden("TempExistingAttachment[" + idx + "].ItemAction", Model[idx].ItemAction)
                        @Html.Hidden("TempExistingAttachment[" + idx + "].Status", Model[idx].Status)
                        string divAttachmentId = "TempExistingAttachment" + idx;
                        <tr>
                            @*<td>@(idx + 1)</td>*@
                            <td>@(Model[idx].ArtworkType)</td>


                            <td class="existingArtworkAttachments">
                                <div id="@divAttachmentId" data-appname="@SiteURLs.ARTWORKSITEURL">
                                </div>
                                @Html.TextBoxFor(m => m[idx].FileNameList, new { @class = "notvisible", @id = "TempExistingAttachment[" + idx + "].FileNameList", @Name = "TempExistingAttachment[" + idx + "].FileNameList", @data_val = "true", @data_val_required = "Artwork Attachtment is required." })
                                @Html.ValidationMessageFor(m => m[idx].FileNameList, "Artwork Attachtment is required.", new { @data_valmsg_for = "TempExistingAttachment[" + idx + "].FileNameList" })
                            </td>
                        </tr>
                    }
                }
                strArtworkType = strArtworkType.Trim(',');
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center text-danger">
                        @Html.ResourceValue("Grid_Text_NoData", ResourceNames.Common)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (!isfileavailable)
    {
        <span class="text-danger text-default-light">
            (Required Artwork type files will be uploaded by ABSQ Team.)
        </span>
    }
    @Html.Hidden("strArtworkType", strArtworkType)
    @Html.Hidden("isfileavailable", isfileavailable)
</div>
