@using BEL.ArtworkWorkflow.Models.ExistingArtwork
@using BEL.ArtworkWorkflow.Models.Common;
@using BEL.ArtworkWorkflow.Models.Master;
@using BEL.CommonDataContract;
@model ExistingArtworkDetailSection

<script type="text/javascript">
    @{

        ProductCategoryMaster prodlist = Model.MasterData.FirstOrDefault(x => x.NameOfMaster.Equals(ArtworkMasters.PRODUCTCATEGORYMASTER)) as ProductCategoryMaster;
        BusinessUnitMaster businessUnitList = Model.MasterData.FirstOrDefault(x => x.NameOfMaster.Equals(ArtworkMasters.BUSINESSUNITMASTER)) as BusinessUnitMaster;
        ArtworkTypeMaster artworkTypeList = Model.MasterData.FirstOrDefault(x => x.NameOfMaster.Equals(ArtworkMasters.ARTWORKTYEMASTER)) as ArtworkTypeMaster;
        ExistingApproverMaster approverlist = Model.MasterData.FirstOrDefault(x => x.NameOfMaster.Equals(ArtworkMasters.EXISTINGAPPROVERMASTER)) as ExistingApproverMaster;
      }
    var ProductCategoryList = JSON.parse(@(new HtmlString(Json.Encode(Newtonsoft.Json.JsonConvert.SerializeObject(prodlist.Items.OrderBy(p => p.Title).ToList())))));
    var ArtworkTypeList = JSON.parse(@(new HtmlString(Json.Encode(Newtonsoft.Json.JsonConvert.SerializeObject(artworkTypeList.Items.OrderBy(x => x.Title).ToList())))));
    var Approverlist = JSON.parse(@(new HtmlString(Json.Encode(Newtonsoft.Json.JsonConvert.SerializeObject(approverlist.Items.OrderBy(p => p.Title).ToList())))));

</script>
<div id="divDocEngineerSection">
    @using (Ajax.BeginForm("SaveExistingArtworkDetailSection", "ExistingArtwork", new AjaxOptions
    {
        HttpMethod = "POST",
        LoadingElementId = "loading",
        OnFailure = "OnFailure",
        OnSuccess = "OnSuccess",
        OnBegin = "BeginClient"
    }, new { enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(m => m.ListDetails[0].ItemId)
        @Html.HiddenFor(m => m.ListDetails[0].ListName)
        @Html.HiddenFor(m => m.SectionName)
        @Html.HiddenFor(m => m.ActionStatus)
        @Html.HiddenFor(m => m.Status)

        @Html.HiddenFor(m => m.ABSAdmin)
        @Html.HiddenFor(m => m.ABSAdminName)

        @*@Html.Partial("_CurrentApprover", Model.CurrentApprover ?? new ApplicationStatus())*@
        @Html.AntiForgeryToken()

        if (!string.IsNullOrEmpty(Model.OldReferenceNo))
        {

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            @Html.LabelFor(m => m.OldReferenceNo, ResourceNames.Artwork)
                        </label>
                        <div class="col-md-8 ">
                            <div class="form-control noborder">
                                @Html.DisplayFor(m => m.OldReferenceNo, ResourceNames.Artwork)
                                @Html.HiddenFor(m => m.OldReferenceNo)
                                @Html.HiddenFor(m => m.OldRequestId)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            @Html.LabelFor(m => m.OldArtworkCreatedDate, ResourceNames.Artwork)
                        </label>
                        <div class="col-md-8 ">
                            <div class="form-control noborder">
                                @(Model.OldArtworkCreatedDate.HasValue ? Model.OldArtworkCreatedDate.Value.ToShortDateString() : string.Empty)
                                @Html.HiddenFor(m => m.OldArtworkCreatedDate)

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            @Html.LabelFor(m => m.OldArtworkRejectedDate, ResourceNames.Artwork)
                        </label>
                        <div class="col-md-8 ">
                            <div class="form-control noborder">
                                @(Model.OldArtworkRejectedDate.HasValue ? Model.OldArtworkRejectedDate.Value.ToShortDateString() : string.Empty)
                                @Html.HiddenFor(m => m.OldArtworkRejectedDate)

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            @Html.LabelFor(m => m.OldArtworkRejectedComment, ResourceNames.Artwork)
                        </label>
                        <div class="col-md-8 ">
                            <div class="form-control noborder">
                                @Html.DisplayFor(m => m.OldArtworkRejectedComment, ResourceNames.Artwork)
                                @Html.HiddenFor(m => m.OldArtworkRejectedComment)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.RequestDate, ResourceNames.Artwork)

                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder">
                            @(Model.RequestDate.HasValue ? Model.RequestDate.Value.ToShortDateString() : "")
                            @Html.Hidden("RequestDate", Model.RequestDate.HasValue ? Model.RequestDate.Value.ToShortDateString() : "")
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        @Html.LabelFor(m => m.ProposedBy, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder">
                            @(string.IsNullOrEmpty(Model.ProposedByName) ? ViewBag.UserName : Model.ProposedByName)
                            @Html.Hidden("ProposedBy", string.IsNullOrEmpty(Model.ProposedBy) ? (string)ViewBag.UserID : Model.ProposedBy)
                            @Html.Hidden("ProposedByName", string.IsNullOrEmpty(Model.ProposedByName) ? (string)ViewBag.UserName : Model.ProposedByName)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        @Html.LabelFor(m => m.ReferenceNo, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder">
                            <span class="text-danger" id="ReferenceNo">
                                <b>
                                    @Html.DisplayFor(m => m.ReferenceNo, ResourceNames.Artwork)
                                    @Html.HiddenFor(m => m.ReferenceNo)
                                </b>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        @Html.LabelFor(m => m.WorkflowStatus, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder">
                            <span class="text-danger" id="Status">
                                <b>
                                    @(string.IsNullOrEmpty(Model.WorkflowStatus) ? Html.ResourceValue("Text_New", ResourceNames.Common) : Model.WorkflowStatus)
                                </b>
                            </span>
                            @Html.HiddenFor(m => m.Status)
                            @Html.HiddenFor(m => m.WorkflowStatus)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        @Html.LabelFor(m => m.RequesterDomesticOrImported, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder">
                            @Html.DisplayFor(m => m.RequesterDomesticOrImported)
                            @Html.HiddenFor(m => m.RequesterDomesticOrImported)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        @Html.LabelFor(m => m.RequesterBusinessUnit, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder">
                            @Html.DisplayFor(m => m.RequesterBusinessUnit)
                            @Html.HiddenFor(m => m.RequesterBusinessUnit)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.ItemCode, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        @if (string.IsNullOrEmpty(Model.Status) || Model.Status.Equals("Draft"))
                        {
                            @Html.TextBoxFor(m => m.ItemCode, new { @class = "user-tags", @min_chars = 4, @data_hint = "Type and Select by Item Code/Model Name", @data_url = "/ExistingArtwork/GetAllItems", @data_limit = "1", @data_onadd = "ItemCodeAdded", @data_onremove = "ItemCodeRemoved", @data_displaycolumn = "name" })
                            @Html.ValidationMessageFor(m => m.ItemCode, ResourceNames.Artwork)

                        }
                        else
                        {
                            <div class="form-control noborder">
                                @Html.DisplayFor(m => m.ItemCode)
                                @Html.HiddenFor(m => m.ItemCode)
                            </div>

                            <div class="hide">
                                @Html.TextBoxFor(m => m.ItemCode, new { @class = "user-tags ", @min_chars = 4, @data_hint = "Type and Select by Item Code/Model Name", @data_url = "/ExistingArtwork/GetAllItems", @data_limit = "1", @data_onadd = "ItemCodeAdded", @data_onremove = "ItemCodeRemoved", @data_displaycolumn = "name" })
                                @Html.ValidationMessageFor(m => m.ItemCode, ResourceNames.Artwork)
                            </div>
                        }


                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.BusinessUnit, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder">
                            <span class="BusinessUnit ItemCode">
                                <span>
                                    @Html.DisplayFor(m => m.BusinessUnit, new { @class = "form-control" })
                                </span>
                                @Html.HiddenFor(m => m.BusinessUnit)
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    <div class="row">
        
        <div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1" class="col-md-4 control-label">
                    <span class="text-danger text-default-light">*</span>
                    @Html.LabelFor(m => m.DomesticOrImported, ResourceNames.Artwork)
                </label>
                <div class="col-md-8 ">
                    <div class="form-control noborder">
                        <span class="DomesticOrImported ItemCode">
                            <span>
                                @Html.DisplayFor(m => m.DomesticOrImported, new { @class = "form-control" })
                            </span>
                            @Html.HiddenFor(m => m.DomesticOrImported)
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">

            </div>
        </div>

    </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.ProductCategory, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        @*<div class="form-control noborder">
                                <span class="ProductCategory ItemCode">
                                    <span>
                                        @Html.DisplayFor(m => m.ProductCategory, new { @class = "form-control" })
                                    </span>
                                    @Html.HiddenFor(m => m.ProductCategory)
                                </span>
                            </div>*@
                        @*<div class="form-control noborder ItemCode hide">
                                @Html.DropDownListFor(m => m.ProductCategory, new SelectList((Model.MasterData.FirstOrDefault(x => x.NameOfMaster.Equals(ArtworkMasters.PRODUCTCATEGORYMASTER)) as ProductCategoryMaster).Items.OrderBy(x => x.Title), "Value", "Title"), "Select", new { @class = "form-control", @data_selected = Model.ProductCategory })
                                @Html.ValidationMessageFor(m => m.ProductCategory, ResourceNames.Artwork)
                            </div>*@
                        <div class="form-control noborder ItemCode">
                            @Html.DropDownListFor(m => m.ProductCategory, new SelectList((Model.MasterData.FirstOrDefault(x => x.NameOfMaster.Equals(ArtworkMasters.PRODUCTCATEGORYMASTER)) as ProductCategoryMaster).Items.OrderBy(x => x.Title), "Value", "Title"), "Select", new { @class = "form-control", @data_selected = Model.ProductCategory })
                            @Html.ValidationMessageFor(m => m.ProductCategory, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.ModelName, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ItemCode">
                        @*<span class="ModelName ItemCode">
                                <span>
                                    @Html.DisplayFor(m => m.ModelName, new { @class = "form-control" })
                                </span>
                                @Html.HiddenFor(m => m.ModelName)
                            </span>*@
                        @Html.TextAreaFor(m => m.ModelName, new { maxLength = 255, @class = "form-control alphanumericwithspace disablepaste", data_toggle = "tooltip", title = "Max 255 characters" })
                        @Html.ValidationMessageFor(m => m.ModelName, ResourceNames.Artwork)
                        <span class="text-danger text-default-light small-font">
                            (It is recommended to use model name less than 30 characters)
                        </span>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        @Html.LabelFor(m => m.Color, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder ItemCode">
                            @*<span class="Color ItemCode">
                                    <span>
                                        @Html.DisplayFor(m => m.Color, new { @class = "form-control" })
                                    </span>
                                    @Html.HiddenFor(m => m.Color)
                                </span>
                                @Html.ValidationMessageFor(m => m.Color, ResourceNames.Artwork)*@

                            @Html.TextAreaFor(m => m.Color, new { maxLength = 255, @class = "form-control", data_toggle = "tooltip", title = "Max 255 characters" })
                            @Html.ValidationMessageFor(m => m.Color, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.BarCode, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder ItemCode">
                            @*<span class="BarCode ItemCode">
                                    <span>
                                        @Html.DisplayFor(m => m.BarCode, new { @class = "form-control" })
                                    </span>
                                    @Html.HiddenFor(m => m.BarCode)
                                </span>
                                @Html.ValidationMessageFor(m => m.BarCode, ResourceNames.Artwork)*@
                            @Html.TextBoxFor(m => m.BarCode, new { maxLength = 15, @class = "form-control integeronly", data_toggle = "tooltip", title = "Max 15 digit" })
                            @Html.ValidationMessageFor(m => m.BarCode, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">

            @{string textboxStyle = "width:70px; display: inline;"; }

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.MasterCartondimensionL, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder ItemCode">
                            @*L:
                                <span class="MasterCartondimensionL ItemCode">
                                    <span>
                                        @Html.DisplayFor(m => m.MasterCartondimensionL, new { @class = "form-control" })
                                    </span>
                                    @Html.HiddenFor(m => m.MasterCartondimensionL)
                                </span> X W:
                                <span class="MasterCartondimensionW ItemCode">
                                    <span>
                                        @Html.DisplayFor(m => m.MasterCartondimensionW, new { @class = "form-control" })
                                    </span>
                                    @Html.HiddenFor(m => m.MasterCartondimensionW)
                                </span> X H:
                                <span class="MasterCartondimensionH ItemCode">
                                    <span>
                                        @Html.DisplayFor(m => m.MasterCartondimensionH, new { @class = "form-control" })
                                    </span>
                                    @Html.HiddenFor(m => m.MasterCartondimensionH)
                                </span>*@

                            L @Html.TextBoxFor(m => m.MasterCartondimensionL, new { maxLength = 15, @class = "form-control integeronly", @style = @textboxStyle, data_toggle = "tooltip", title = "Max 15 digit" }) X
                            W @Html.TextBoxFor(m => m.MasterCartondimensionW, new { maxLength = 15, @class = "form-control integeronly", @style = @textboxStyle, data_toggle = "tooltip", title = "Max 15 digit" }) X
                            H @Html.TextBoxFor(m => m.MasterCartondimensionH, new { maxLength = 15, @class = "form-control integeronly", @style = @textboxStyle, data_toggle = "tooltip", title = "Max 15 digit" })
                            @Html.ValidationMessageFor(m => m.MasterCartondimensionL, ResourceNames.Artwork)
                            @Html.ValidationMessageFor(m => m.MasterCartondimensionW, ResourceNames.Artwork)
                            @Html.ValidationMessageFor(m => m.MasterCartondimensionH, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.UnitCartonDimensionL, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder ItemCode">
                            @*L:
                                <span class="UnitCartonDimensionL ItemCode">
                                    <span>
                                        @Html.DisplayFor(m => m.UnitCartonDimensionL, new { @class = "form-control" })
                                    </span>
                                    @Html.HiddenFor(m => m.UnitCartonDimensionL)
                                </span>X W:
                                <span class="UnitCartonDimensionW ItemCode">
                                    <span>
                                        @Html.DisplayFor(m => m.UnitCartonDimensionW, new { @class = "form-control" })
                                    </span>
                                    @Html.HiddenFor(m => m.UnitCartonDimensionW)
                                </span>X H:
                                <span class="UnitCartonDimensionH ItemCode">
                                    <span>
                                        @Html.DisplayFor(m => m.UnitCartonDimensionH, new { @class = "form-control" })
                                    </span>
                                    @Html.HiddenFor(m => m.UnitCartonDimensionH)
                                </span>*@

                            L @Html.TextBoxFor(m => m.UnitCartonDimensionL, new { maxLength = 15, @class = "form-control integeronly", @style = @textboxStyle, data_toggle = "tooltip", title = "Max 15 digit" }) X
                            W @Html.TextBoxFor(m => m.UnitCartonDimensionW, new { maxLength = 15, @class = "form-control integeronly", @style = @textboxStyle, data_toggle = "tooltip", title = "Max 15 digit" }) X
                            H @Html.TextBoxFor(m => m.UnitCartonDimensionH, new { maxLength = 15, @class = "form-control integeronly", @style = @textboxStyle, data_toggle = "tooltip", title = "Max 15 digit" })
                            @Html.ValidationMessageFor(m => m.UnitCartonDimensionL, ResourceNames.Artwork)
                            @Html.ValidationMessageFor(m => m.UnitCartonDimensionW, ResourceNames.Artwork)
                            @Html.ValidationMessageFor(m => m.UnitCartonDimensionH, ResourceNames.Artwork)
                            <span class="valuecheckmsg field-validation-error"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.MRP, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder ItemCode">
                            @*<span class="MRP ItemCode">
                                    <span>
                                        @Html.DisplayFor(m => m.MRP, new { @class = "form-control" })
                                    </span>
                                    @Html.HiddenFor(m => m.MRP)
                                </span>
                                @Html.ValidationMessageFor(m => m.MRP, ResourceNames.Artwork)*@
                            @Html.TextBoxFor(m => m.MRP, new { maxLength = 15, @class = "form-control numberonly fixedtwodecimal", data_toggle = "tooltip", title = "Max 15 digit" })
                            @Html.ValidationMessageFor(m => m.MRP, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="FileNameList" class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.NoofCartoninMaster, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder ItemCode">
                            @*<span class="NoofCartoninMaster ItemCode">
                                    <span>
                                        @Html.DisplayFor(m => m.NoofCartoninMaster, new { @class = "form-control" })
                                    </span>
                                    @Html.HiddenFor(m => m.NoofCartoninMaster)
                                </span>
                                @Html.ValidationMessageFor(m => m.NoofCartoninMaster, ResourceNames.Artwork)*@
                            @Html.TextBoxFor(m => m.NoofCartoninMaster, new { maxLength = 15, @class = "form-control integeronly", data_toggle = "tooltip", title = "Max 15 digit" })
                            @Html.ValidationMessageFor(m => m.NoofCartoninMaster, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        @Html.LabelFor(m => m.Voltage, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder">
                            <span class="Voltage ItemCode">
                                <span>
                                    @Html.DisplayFor(m => m.Voltage, new { @class = "form-control" })
                                </span>
                                @Html.HiddenFor(m => m.Voltage)
                            </span>
                            @Html.ValidationMessageFor(m => m.Voltage, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        @Html.LabelFor(m => m.Power, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder">
                            <span class="Power ItemCode">
                                <span>
                                    @Html.DisplayFor(m => m.Power, new { @class = "form-control" })
                                </span>
                                @Html.HiddenFor(m => m.Power)
                            </span>
                            @Html.ValidationMessageFor(m => m.Power, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        @Html.LabelFor(m => m.NetWeight, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder">
                            <span class="NetWeight ItemCode">
                                <span>
                                    @Html.DisplayFor(m => m.NetWeight, new { @class = "form-control" })
                                </span>
                                @Html.HiddenFor(m => m.NetWeight)
                            </span>
                            @Html.ValidationMessageFor(m => m.NetWeight, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        @Html.LabelFor(m => m.GrossWeight, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder">
                            <span class="GrossWeight ItemCode">
                                <span>
                                    @Html.DisplayFor(m => m.GrossWeight, new { @class = "form-control" })
                                </span>
                                @Html.HiddenFor(m => m.GrossWeight)
                            </span>
                            @Html.ValidationMessageFor(m => m.GrossWeight, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.Warranty, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder ItemCode">
                            @*<span class="Warranty ItemCode">
                                    <span>
                                        @Html.DisplayFor(m => m.Warranty, new { @class = "form-control" })
                                    </span>
                                    @Html.HiddenFor(m => m.Warranty)
                                </span>
                                @Html.ValidationMessageFor(m => m.Warranty, ResourceNames.Artwork)*@
                            @Html.TextBoxFor(m => m.Warranty, new { maxLength = 15, @class = "form-control numberonly fixedtwodecimal", data_toggle = "tooltip", title = "Max 15 digit" })
                            @Html.ValidationMessageFor(m => m.Warranty, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.Product, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder ItemCode">
                            @Html.RadioButtonFor(m => m.Product, "Local", new { @id = "Product1" })
                            <label for="Product1">Local</label>
                            @Html.RadioButtonFor(m => m.Product, "Import", new { @id = "Product2" })
                            <label for="Product2">Import</label>
                            @Html.HiddenFor(m => m.Product)
                            @Html.ValidationMessageFor(m => m.Product, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 localProduct">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.VendorCode, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder ItemCode VendorCode">
                            @*<span class="VendorCode ItemCode">
                                    <span>
                                        @Html.DisplayFor(m => m.VendorCode, new { @class = "form-control" })
                                    </span>
                                    @Html.HiddenFor(m => m.VendorCode)
                                </span>
                                @Html.ValidationMessageFor(m => m.VendorCode, ResourceNames.Artwork)*@

                            @* @Html.TextBoxFor(m => m.VendorCode, new { maxLength = 255, @class = "form-control", data_toggle = "tooltip", title = "Max 255 characters" })*@

                            @Html.TextBoxFor(m => m.VendorCode, new { @class = "user-tags", @min_chars = 3, @data_hint = "Type and Select by Vendor Code", @data_url = "/ExistingArtwork/GetAllVendors", @data_limit = "1", @data_onadd = "VendorCodeAdded", @data_onremove = "VendorCodeRemoved", @data_displaycolumn = "name" })
                            @Html.ValidationMessageFor(m => m.VendorCode, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group localProduct">
                    <label class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.VendorAddress, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder ItemCode">
                            @*<span class="VendorAddress ItemCode">
                                    <span>
                                        @Html.DisplayFor(m => m.VendorAddress, new { @class = "form-control" })
                                    </span>
                                    @Html.HiddenFor(m => m.VendorAddress)
                                </span>
                                @Html.ValidationMessageFor(m => m.VendorAddress, ResourceNames.Artwork)*@
                            @Html.TextAreaFor(m => m.VendorAddress, new { maxLength = 1000, @class = "form-control", data_toggle = "tooltip", title = "Max 1000 characters" })
                            @Html.ValidationMessageFor(m => m.VendorAddress, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 attachment">
                <div class="form-group">
                    <label class="col-md-4 control-label">

                        @Html.LabelFor(m => m.FNLSamplePhoto, ResourceNames.Artwork)

                    </label>
                    <div class="col-md-8 ">
                        <span class="text-danger text-default-light small-font">
                            (Max. up to 5MB per file and you can upload maximum 10 files.)
                        </span>
                        <div id="AttachmentSamplePhoto" data-appname="@SiteURLs.ARTWORKSITEURL">
                        </div>
                        @Html.TextBoxFor(m => m.FNLSamplePhoto, new { @class = "notvisible" })
                        @Html.ValidationMessageFor(m => m.FNLSamplePhoto, ResourceNames.Artwork)
                    </div>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.LabelFor(m => m.ArtworkType, ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder artworktypemultiselect">
                            @Html.ListBox("ArtworkTypeList", new MultiSelectList((Model.MasterData.FirstOrDefault(x => x.NameOfMaster.Equals(ArtworkMasters.ARTWORKTYEMASTER)) as ArtworkTypeMaster).Items.OrderBy(x => x.Title), "Value", "Title"), new { @id = "ArtworkTypeList", @Name = "ArtworkTypeList", @class = "form-control", @data_selected = Model.ArtworkType })
                            @Html.ValidationMessageFor(m => m.ArtworkType, ResourceNames.Artwork)
                            @Html.ValidationMessage("ArtworkTypeList", Html.ResourceValue("Error_ArtworkType", ResourceNames.Artwork))
                            @Html.HiddenFor(m => m.ArtworkType)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        <span class="text-danger text-default-light">*</span>
                        @Html.ResourceValue("Label_ChangeDescription", ResourceNames.Artwork)
                    </label>
                    <div class="col-md-8 ">
                        <div class="form-control noborder">
                            @Html.TextAreaFor(m => m.CurrentApprover.Comments, new { maxlength = 1000, @class = "form-control", @data_val = "true", @data_val_required = "Change Description/Comments is required (max allow 1000 char.)", data_toggle = "tooltip", title = "Max 1000 characters" })
                            @Html.HiddenFor(x => x.CurrentApprover.Approver)
                            @Html.HiddenFor(x => x.CurrentApprover.Role)
                            @Html.HiddenFor(x => x.CurrentApprover.AssignDate)
                            @Html.ValidationMessageFor(m => m.CurrentApprover.Comments, ResourceNames.Artwork)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group disabled" id="existingAttachmentfrommodel">
                    @if (Model.TempExistingAttachment != null && Model.TempExistingAttachment.Count != 0)
                    {
                        @Html.Partial("_ExisitingAttachmentGrid", Model.TempExistingAttachment)
                    }
                    else
                    {
                        @Html.Partial("_ExisitingAttachmentGrid", new List<ExistingArtworkAttachment>())
                    }
                </div>

            </div>

        </div>

        @Html.Partial("_Approvers", Model.ApproversList)
    }
</div>