@using BEL.ArtworkWorkflow.Models.NewArtwork;
@using BEL.ArtworkWorkflow.Models.Common;
@using BEL.ArtworkWorkflow.Models.Master;
@using BEL.CommonDataContract;
@model NewArtworkAdminDetailSection

<script type="text/javascript">
    @{

        ApproverMaster approverlist = Model.MasterData.FirstOrDefault(x => x.NameOfMaster.Equals(ArtworkMasters.APPROVERMASTER)) as ApproverMaster;
        ProductCategoryMaster prodlist = Model.MasterData.FirstOrDefault(x => x.NameOfMaster.Equals(ArtworkMasters.PRODUCTCATEGORYMASTER)) as ProductCategoryMaster;
        BusinessUnitMaster businessUnitList = Model.MasterData.FirstOrDefault(x => x.NameOfMaster.Equals(ArtworkMasters.BUSINESSUNITMASTER)) as BusinessUnitMaster;
        ArtworkTypeMaster artworkTypeList = Model.MasterData.FirstOrDefault(x => x.NameOfMaster.Equals(ArtworkMasters.ARTWORKTYEMASTER)) as ArtworkTypeMaster;

      }
    var ProductCategoryList = JSON.parse(@(new HtmlString(Json.Encode(Newtonsoft.Json.JsonConvert.SerializeObject(prodlist.Items.OrderBy(p => p.Title).ToList())))));
    var ArtworkTypeList = JSON.parse(@(new HtmlString(Json.Encode(Newtonsoft.Json.JsonConvert.SerializeObject(artworkTypeList.Items.OrderBy(x => x.Title).ToList())))));


</script>
<div id="divNewArtworkSection">
    @using (Ajax.BeginForm("SaveArtworkAdminDetailSection", "NewArtwork", new AjaxOptions
    {
        HttpMethod = "POST",
        LoadingElementId = "loading",
        OnFailure = "OnFailure",
        OnSuccess = "OnSuccess",
        OnBegin = "BeginClient"
    }, new { enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(m => m.ListDetails[0].ItemId)
        @Html.HiddenFor(m => m.ListDetails[0].ListName)
        @Html.HiddenFor(m => m.SectionName)
        @Html.HiddenFor(m => m.ActionStatus)
        @Html.HiddenFor(m => m.Status)
        @Html.HiddenFor(m => m.ABSAdmin)
        @Html.HiddenFor(m => m.ABSAdminName)

        @Html.Partial("_ApproversList", Model.ApproversList)
        @Html.Partial("_CurrentApprover", Model.CurrentApprover ?? new ApplicationStatus())
        @Html.AntiForgeryToken()

        <div class="card">
            <div class="card-head" data-toggle="collapse" data-target="#artworkdetailsection">
                @Html.ResourceValue("Section_Title_NewArtworkDetailDocumentSection", ResourceNames.Artwork)
                <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
            </div>
            <div class="card-body" id="artworkdetailsection">
                <div class="form-horizontal">
                    <p><span class="text-danger text-default-light">@Html.ResourceValue("Text_Mandatory", ResourceNames.Common)</span></p>
                    @if (!string.IsNullOrEmpty(Model.OldReferenceNo))
                    {


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        @Html.LabelFor(m => m.OldReferenceNo, ResourceNames.Artwork)
                                    </label>
                                    <div class="col-md-8 ">
                                        <div class="form-control noborder">
                                            @Html.DisplayFor(m => m.OldReferenceNo, ResourceNames.Artwork)
                                            @Html.HiddenFor(m => m.OldReferenceNo)
                                            @Html.HiddenFor(m => m.OldRequestId)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        @Html.LabelFor(m => m.OldArtworkCreatedDate, ResourceNames.Artwork)
                                    </label>
                                    <div class="col-md-8 ">
                                        <div class="form-control noborder">
                                            @(Model.OldArtworkCreatedDate.HasValue ? Model.OldArtworkCreatedDate.Value.ToShortDateString() : string.Empty)
                                            @Html.HiddenFor(m => m.OldArtworkCreatedDate)

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        @Html.LabelFor(m => m.OldArtworkRejectedDate, ResourceNames.Artwork)
                                    </label>
                                    <div class="col-md-8 ">
                                        <div class="form-control noborder">
                                            @(Model.OldArtworkRejectedDate.HasValue ? Model.OldArtworkRejectedDate.Value.ToShortDateString() : string.Empty)
                                            @Html.HiddenFor(m => m.OldArtworkRejectedDate)

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">

                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.RequestDate, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @(Model.RequestDate.HasValue ? Model.RequestDate.Value.ToShortDateString() : "")
                                        @Html.Hidden("RequestDate", Model.RequestDate.HasValue ? Model.RequestDate.Value.ToShortDateString() : "")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.ProposedBy, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @(string.IsNullOrEmpty(Model.ProposedByName) ? ViewBag.UserName : Model.ProposedByName)
                                        @Html.Hidden("ProposedBy", string.IsNullOrEmpty(Model.ProposedBy) ? (string)ViewBag.UserID : Model.ProposedBy)
                                        @Html.Hidden("ProposedByName", string.IsNullOrEmpty(Model.ProposedByName) ? (string)ViewBag.UserName : Model.ProposedByName)
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.ReferenceNo, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        <span class="text-danger" id="ReferenceNo">
                                            <b>
                                                @Html.DisplayFor(m => m.ReferenceNo, ResourceNames.NPD)
                                                @Html.HiddenFor(m => m.ReferenceNo)
                                            </b>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.Status, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        <span class="text-danger" id="Status">
                                            <b>
                                                @(string.IsNullOrEmpty(Model.WorkflowStatus) ? Html.ResourceValue("Text_New", ResourceNames.Common) : Model.WorkflowStatus)
                                            </b>
                                        </span>
                                        @Html.HiddenFor(m => m.Status)
                                        @Html.HiddenFor(m => m.WorkflowStatus)
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.ItemCode, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">

                                    @if (string.IsNullOrEmpty(Model.Status) || Model.Status.Equals("Draft"))
                                    {
                                        @Html.TextBoxFor(m => m.ItemCode, new { maxLength = 255, @class = "form-control alphanumericwithspace disablepaste", data_toggle = "tooltip", title = "Max 255 characters" })
                                        @Html.ValidationMessageFor(m => m.ItemCode, ResourceNames.Artwork)

                                    }
                                    else
                                    {
                                        <div class="form-control noborder">
                                            @Html.DisplayFor(m => m.ItemCode, new { @class = "form-control" })
                                            @Html.HiddenFor(m => m.ItemCode)
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.BusinessUnit, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder disabled">

                                        @Html.DisplayFor(m => m.BusinessUnit, new { @class = "form-control" })
                                        <div class="hide">
                                            @Html.DropDownListFor(m => m.BusinessUnit, new SelectList((Model.MasterData.FirstOrDefault(x => x.NameOfMaster.Equals(ArtworkMasters.BUSINESSUNITMASTER)) as BusinessUnitMaster).Items.OrderBy(x => x.Title), "Value", "Title"), "Select", new { @class = "form-control", @data_selected = Model.BusinessUnit })
                                            @Html.ValidationMessageFor(m => m.BusinessUnit, ResourceNames.Artwork)
                                        </div>

                                    </div>
                                    @Html.HiddenFor(m => m.BusinessUnit)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.DomesticOrImported, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8">
                                    <div class="form-control noborder disabled">
                                        @Html.DisplayFor(m => m.DomesticOrImported, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DomesticOrImported, ResourceNames.Artwork)
                                    </div>
                                    @Html.HiddenFor(m => m.DomesticOrImported)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.ProductCategory, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.DropDownListFor(m => m.ProductCategory, new SelectList(new List<SelectListItem>()), "Select", new { @class = "form-control", @data_selected = Model.ProductCategory })
                                        @Html.ValidationMessageFor(m => m.ProductCategory, ResourceNames.Artwork)
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.ModelName, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @if (string.IsNullOrEmpty(Model.Status) || Model.Status.Equals("Draft"))
                                        {
                                            @Html.TextAreaFor(m => m.ModelName, new { maxLength = 255, @class = "form-control absqModelName alphanumericwithspace", data_toggle = "tooltip", title = "Max 255 characters" })
                                            @Html.ValidationMessageFor(m => m.ModelName, ResourceNames.Artwork)

                                        }
                                        else
                                        {
                                            <div class="form-control noborder">
                                                @Html.DisplayFor(m => m.ModelName, new { @class = "form-control absqModelName" })
                                                @Html.HiddenFor(m => m.ModelName, new { @class = "form-control absqModelName" })
                                            </div>
                                        }


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @Html.LabelFor(m => m.Color, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.Color, new { maxLength = 255, @class = "form-control", data_toggle = "tooltip", title = "Max 255 characters" })
                                        @Html.ValidationMessageFor(m => m.Color, ResourceNames.Artwork)
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.BarCode, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextBoxFor(m => m.BarCode, new { maxLength = 15, @class = "form-control integeronly", data_toggle = "tooltip", title = "Max 15 characters" })
                                        @Html.ValidationMessageFor(m => m.BarCode, ResourceNames.Artwork)

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        @{string textboxStyle = "width:70px; display: inline;"; }
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.MasterCartondimensionL, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @*@Html.TextBoxFor(m => m.MasterCartondimension, new { maxLength = 15, @class = "form-control numberonly fixedtwodecimal", data_toggle = "tooltip", title = "Max 15 characters" })
                                            @Html.ValidationMessageFor(m => m.MasterCartondimension, ResourceNames.Artwork)*@
                                        L @Html.TextBoxFor(m => m.MasterCartondimensionL, new { maxLength = 15, @class = "form-control integeronly valuecheck ", @style = @textboxStyle, data_toggle = "tooltip", title = "Max 15 digit" }) X
                                        W @Html.TextBoxFor(m => m.MasterCartondimensionW, new { maxLength = 15, @class = "form-control integeronly valuecheck", @style = @textboxStyle, data_toggle = "tooltip", title = "Max 15 digit" }) X
                                        H @Html.TextBoxFor(m => m.MasterCartondimensionH, new { maxLength = 15, @class = "form-control integeronly valuecheck", @style = @textboxStyle, data_toggle = "tooltip", title = "Max 15 digit" })
                                        @Html.ValidationMessageFor(m => m.MasterCartondimensionL, ResourceNames.Artwork)
                                        @Html.ValidationMessageFor(m => m.MasterCartondimensionW, ResourceNames.Artwork)
                                        @Html.ValidationMessageFor(m => m.MasterCartondimensionH, ResourceNames.Artwork)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.UnitCartonDimensionL, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @*@Html.TextBoxFor(m => m.UnitCartonDimension, new { maxLength = 15, @class = "form-control numberonly fixedtwodecimal", data_toggle = "tooltip", title = "Max 15 characters" })
                                            @Html.ValidationMessageFor(m => m.UnitCartonDimension, ResourceNames.Artwork)*@
                                        L @Html.TextBoxFor(m => m.UnitCartonDimensionL, new { maxLength = 15, @class = "form-control integeronly valuecheck", @style = @textboxStyle, data_toggle = "tooltip", title = "Max 15 digit" }) X
                                        W @Html.TextBoxFor(m => m.UnitCartonDimensionW, new { maxLength = 15, @class = "form-control integeronly valuecheck", @style = @textboxStyle, data_toggle = "tooltip", title = "Max 15 digit" }) X
                                        H @Html.TextBoxFor(m => m.UnitCartonDimensionH, new { maxLength = 15, @class = "form-control integeronly valuecheck", @style = @textboxStyle, data_toggle = "tooltip", title = "Max 15 digit" })
                                        @Html.ValidationMessageFor(m => m.UnitCartonDimensionL, ResourceNames.Artwork)
                                        @Html.ValidationMessageFor(m => m.UnitCartonDimensionW, ResourceNames.Artwork)
                                        @Html.ValidationMessageFor(m => m.UnitCartonDimensionH, ResourceNames.Artwork)
                                        <span class="valuecheckmsg field-validation-error"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.MRP, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextBoxFor(m => m.MRP, new { maxLength = 15, @class = "form-control numberonly fixedtwodecimal", data_toggle = "tooltip", title = "Max 15 characters" })
                                        @Html.ValidationMessageFor(m => m.MRP, ResourceNames.Artwork)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="FileNameList" class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.NoofCartoninMaster, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    @Html.TextBoxFor(m => m.NoofCartoninMaster, new { maxLength = 15, @class = "form-control numberonly fixedtwodecimal", data_toggle = "tooltip", title = "Max 15 characters" })
                                    @Html.ValidationMessageFor(m => m.NoofCartoninMaster, ResourceNames.Artwork)

                                </div>




                            </div>

                        </div>
                    </div>


                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @Html.LabelFor(m => m.Voltage, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextBoxFor(m => m.Voltage, new { maxLength = 15, @class = "form-control numberonly fixedtwodecimal", data_toggle = "tooltip", title = "Max 15 characters" })
                                        @Html.ValidationMessageFor(m => m.Voltage, ResourceNames.Artwork)
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @Html.LabelFor(m => m.Power, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextBoxFor(m => m.Power, new { maxLength = 15, @class = "form-control numberonly fixedtwodecimal", data_toggle = "tooltip", title = "Max 15 characters" })
                                        @Html.ValidationMessageFor(m => m.Power, ResourceNames.Artwork)
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @Html.LabelFor(m => m.NetWeight, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextBoxFor(m => m.NetWeight, new { maxLength = 15, @class = "form-control numberonly fixedtwodecimal valuecheck", data_toggle = "tooltip", title = "Max 15 characters" })
                                        @Html.ValidationMessageFor(m => m.NetWeight, ResourceNames.Artwork)
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @Html.LabelFor(m => m.GrossWeight, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextBoxFor(m => m.GrossWeight, new { maxLength = 15, @class = "form-control numberonly fixedtwodecimal valuecheck", data_toggle = "tooltip", title = "Max 15 characters" })
                                        @Html.ValidationMessageFor(m => m.GrossWeight, ResourceNames.Artwork)
                                        <span class="valuecheckmsg1 field-validation-error"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.Warranty, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextBoxFor(m => m.Warranty, new { maxLength = 15, @class = "form-control numberonly fixedtwodecimal", data_toggle = "tooltip", title = "Max 15 characters" })
                                        @Html.ValidationMessageFor(m => m.Warranty, ResourceNames.Artwork)
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 ">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.ProductFeature, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.ProductFeature, new { maxLength = 1000, @class = "form-control", data_toggle = "tooltip", title = "Max 1000 characters" })
                                        @Html.ValidationMessageFor(m => m.ProductFeature, ResourceNames.Artwork)
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.Product, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.RadioButtonFor(m => m.Product, "Local", new { @Id = "Product1" })
                                        <label for="Product1">Local</label>
                                        @Html.RadioButtonFor(m => m.Product, "Import", new { @Id = "Product2" })
                                        <label for="Product2">Import</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 localProduct">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.VendorCode, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextBoxFor(m => m.VendorCode, new { maxLength = 255, @class = "form-control", data_toggle = "tooltip", title = "Max 255 characters" })
                                        @Html.ValidationMessageFor(m => m.VendorCode, ResourceNames.Artwork)
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row localProduct">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.VendorAddress, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.VendorAddress, new { maxLength = 1000, @class = "form-control", data_toggle = "tooltip", title = "Max 1000 characters" })
                                        @Html.ValidationMessageFor(m => m.VendorAddress, ResourceNames.Artwork)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 attachment">
                            <div class="form-group">
                                <label class="col-md-4 control-label">

                                    @Html.LabelFor(m => m.FNLSamplePhoto, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <span class="text-danger text-default-light small-font">
                                        (Max. up to 5MB per file and you can upload maximum 10 files.)
                                    </span>
                                    <div id="AttachmentSamplePhoto" data-appname="@SiteURLs.ARTWORKSITEURL">
                                    </div>
                                    @Html.TextBoxFor(m => m.FNLSamplePhoto, new { @class = "notvisible" })
                                    @Html.ValidationMessageFor(m => m.FNLSamplePhoto, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 ">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.ArtworkType, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder artworktypemultiselect disabled">
                                        @Html.ListBox("ArtworkTypeList", new MultiSelectList((Model.MasterData.FirstOrDefault(x => x.NameOfMaster.Equals(ArtworkMasters.ARTWORKTYEMASTER)) as ArtworkTypeMaster).Items.OrderBy(x => x.Title), "Value", "Title"), new { @id = "ArtworkTypeList", @Name = "ArtworkTypeList", @class = "form-control", @data_selected = Model.ArtworkType })
                                        @Html.ValidationMessageFor(m => m.ArtworkType, ResourceNames.Artwork)
                                        @Html.ValidationMessage("ArtworkTypeList", Html.ResourceValue("Error_ArtworkType", ResourceNames.Artwork))

                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.ArtworkType)
                            </div>

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_ChangeDescription", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.RequesterComment, new { maxlength = 1000, @class = "form-control", @data_val = "true", @data_val_required = "Please Enter Change Descriptions", data_toggle = "tooltip", title = "Max 1000 characters" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Partial("_Approvers", Model.ApproversList)

                </div>
                <div class="clearfix"></div>

                <div class="clearfix"></div>
            </div>
        </div>

        <div class="card">
            <div class="card-head" data-toggle="collapse" data-target="#artworkbuheadsection">
                @Html.ResourceValue("Section_Title_NewArtworkBUHeadSection", ResourceNames.Artwork)
                <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
            </div>
            <div class="card-body" id="artworkbuheadsection">
                <div class="form-horizontal">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_Comments", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.BUHeadComments, new { maxlength = 255, @class = "form-control", @data_val = "true", @data_val_required = "Please Enter Comment", data_toggle = "tooltip", title = "Max 255 characters" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">

                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="card">
            <div class="card-head" data-toggle="collapse" data-target="#artworkabsqsection">
                @Html.ResourceValue("Section_Title_ABSQTeamSection", ResourceNames.Artwork)
                <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
            </div>
            <div class="card-body" id="artworkabsqsection">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_Comments", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.ABSQTeamComments, new { maxlength = 255, @class = "form-control", @data_val = "true", @data_val_required = "Please Enter Comment", data_toggle = "tooltip", title = "Max 255 characters" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.ModelName, ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        <div class="form-control noborder">
                                            @Html.DisplayFor(m => m.ModelName, new { @class = "form-control" })
                                            @Html.HiddenFor(m => m.ModelName)

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 attachment">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.LabelFor(m => m.FNLTechnicalSpecificationAttachment, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <span class="text-danger text-default-light small-font">
                                        (Max. up to 5MB per file and you can upload maximum 10 files.)
                                    </span>
                                    <div id="AttachmentTechnicalSpecification" data-appname="@SiteURLs.ARTWORKSITEURL">
                                    </div>
                                    @Html.TextBoxFor(m => m.FNLTechnicalSpecificationAttachment, new { @class = "notvisible" })
                                    @Html.ValidationMessageFor(m => m.FNLTechnicalSpecificationAttachment, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 attachment">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.LabelFor(m => m.FNLQAPAttachment, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <span class="text-danger text-default-light">
                                        (Max. up to 5MB per file and you can upload maximum 10 files.)
                                    </span>
                                    <div id="AttachmentQAP" data-appname="@SiteURLs.ARTWORKSITEURL">
                                    </div>
                                    @Html.TextBoxFor(m => m.FNLQAPAttachment, new { @class = "notvisible" })
                                    @Html.ValidationMessageFor(m => m.FNLQAPAttachment, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Partial("_AttachmentGrid", Model.ArtworkAttachmentTempList)
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="card">
            <div class="card-head" data-toggle="collapse" data-target="#artworkabsqapproversection">
                @Html.ResourceValue("Section_Title_ABSQApproverSection", ResourceNames.Artwork)
                <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
            </div>
            <div class="card-body" id="artworkabsqapproversection">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_Comments", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.ABSQApproverComments, new { maxlength = 255, @class = "form-control", @data_val = "true", @data_val_required = "Please Enter Comment", data_toggle = "tooltip", title = "Max 255 characters" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 attachment">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @Html.LabelFor(m => m.FNLABSQApprover, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <span class="text-danger text-default-light small-font">
                                        (Max. up to 5MB per file and you can upload maximum 10 files.)
                                    </span>
                                    <div id="AttachmentABSQApprover" data-appname="@SiteURLs.ARTWORKSITEURL">
                                    </div>
                                    @Html.TextBoxFor(m => m.FNLABSQApprover, new { @class = "notvisible" })
                                    @Html.ValidationMessageFor(m => m.FNLABSQApprover, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="card">
            <div class="card-head" data-toggle="collapse" data-target="#artworkqalevel1section">
                @Html.ResourceValue("Section_Title_QALevel1Section", ResourceNames.Artwork)
                <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
            </div>
            <div class="card-body" id="artworkqalevel1section">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_Comments", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.QALevel1Comments, new { maxlength = 255, @class = "form-control", @data_val = "true", @data_val_required = "Please Enter Comment", data_toggle = "tooltip", title = "Max 255 characters" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_ReworkRequired", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.RadioButtonFor(m => m.QALevel1ReworkRequired, "True", new { @Id = "QALevel1ReworkRequired1" })
                                        <label for="QALevel1ReworkRequired1">Yes</label>
                                        @Html.RadioButtonFor(m => m.QALevel1ReworkRequired, "False", new { @Id = "QALevel1ReworkRequired2" })
                                        <label for="QALevel1ReworkRequired2">No</label>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.QALevel1ReworkRequired, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 attachment">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.LabelFor(m => m.FNLQALevel1Attachment, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <span class="text-danger text-default-light small-font">
                                        (Max. up to 5MB per file and you can upload maximum 10 files.)
                                    </span>
                                    <div id="AttachmentQALevel1" data-appname="@SiteURLs.ARTWORKSITEURL">
                                    </div>
                                    @Html.TextBoxFor(m => m.FNLQALevel1Attachment, new { @class = "notvisible" })
                                    @Html.ValidationMessageFor(m => m.FNLQALevel1Attachment, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                        </div>


                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="card">
            <div class="card-head" data-toggle="collapse" data-target="#artworkscmlevel1section">
                @Html.ResourceValue("Section_Title_SCMLevel1Section", ResourceNames.Artwork)
                <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
            </div>
            <div class="card-body" id="artworkscmlevel1section">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_Comments", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.SCMLevel1Comments, new { maxlength = 255, @class = "form-control", @data_val = "true", @data_val_required = "Please Enter Comment", data_toggle = "tooltip", title = "Max 255 characters" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_ReworkRequired", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.RadioButtonFor(m => m.SCMLevel1ReworkRequired, "True", new { @Id = "SCMLevel1ReworkRequired1" })
                                        <label for="SCMLevel1ReworkRequired1">Yes</label>
                                        @Html.RadioButtonFor(m => m.SCMLevel1ReworkRequired, "False", new { @Id = "SCMLevel1ReworkRequired2" })
                                        <label for="SCMLevel1ReworkRequired2">No</label>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.SCMLevel1ReworkRequired, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 attachment">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.LabelFor(m => m.FNLSCMLevel1Attachment, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <span class="text-danger text-default-light small-font">
                                        (Max. up to 5MB per file and you can upload maximum 10 files.)
                                    </span>
                                    <div id="AttachmentSCMLevel1" data-appname="@SiteURLs.ARTWORKSITEURL">
                                    </div>
                                    @Html.TextBoxFor(m => m.FNLSCMLevel1Attachment, new { @class = "notvisible" })
                                    @Html.ValidationMessageFor(m => m.FNLSCMLevel1Attachment, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="card">
            <div class="card-head" data-toggle="collapse" data-target="#artworkadblevel1section">
                @Html.ResourceValue("Section_Title_ADBLevel1Section", ResourceNames.Artwork)
                <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
            </div>
            <div class="card-body" id="artworkadblevel1section">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_Comments", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.ADBLevel1Comments, new { maxlength = 255, @class = "form-control", @data_val = "true", @data_val_required = "Please Enter Comment", data_toggle = "tooltip", title = "Max 255 characters" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_ReworkRequired", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.RadioButtonFor(m => m.ADBLevel1ReworkRequired, "True", new { @Id = "ADBLevel1ReworkRequired1" })
                                        <label for="ADBLevel1ReworkRequired1">Yes</label>
                                        @Html.RadioButtonFor(m => m.ADBLevel1ReworkRequired, "False", new { @Id = "ADBLevel1ReworkRequired2" })
                                        <label for="ADBLevel1ReworkRequired2">No</label>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.ADBLevel1ReworkRequired, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 attachment">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.LabelFor(m => m.FNLADBLevel1Attachment, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <span class="text-danger text-default-light small-font">
                                        (Max. up to 5MB per file and you can upload maximum 10 files.)
                                    </span>
                                    <div id="AttachmentADBLevel1" data-appname="@SiteURLs.ARTWORKSITEURL">
                                    </div>
                                    @Html.TextBoxFor(m => m.FNLADBLevel1Attachment, new { @class = "notvisible" })
                                    @Html.ValidationMessageFor(m => m.FNLADBLevel1Attachment, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="card">
            <div class="card-head" data-toggle="collapse" data-target="#artworkmarketinglevel1section">
                @Html.ResourceValue("Section_Title_MarketingLevel1Section", ResourceNames.Artwork)
                <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
            </div>
            <div class="card-body" id="artworkmarketinglevel1section">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_Comments", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.MarketingLevel1Comments, new { maxlength = 255, @class = "form-control", @data_val = "true", @data_val_required = "Please Enter Comment", data_toggle = "tooltip", title = "Max 255 characters" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_ReworkRequired", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.RadioButtonFor(m => m.MarketingLevel1ReworkRequired, "True", new { @Id = "MarketingLevel1ReworkRequired" })
                                        <label for="MarketingLevel1ReworkRequired1">Yes</label>
                                        @Html.RadioButtonFor(m => m.MarketingLevel1ReworkRequired, "False", new { @Id = "MarketingLevel1ReworkRequired" })
                                        <label for="MarketingLevel1ReworkRequired2">No</label>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.MarketingLevel1ReworkRequired, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 attachment">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @Html.LabelFor(m => m.FNLMarketingLevel1Attachment, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <span class="text-danger text-default-light small-font">
                                        (Max. up to 5MB per file and you can upload maximum 10 files.)
                                    </span>
                                    <div id="AttachmentMarketingLevel1" data-appname="@SiteURLs.ARTWORKSITEURL">
                                    </div>
                                    @Html.TextBoxFor(m => m.FNLMarketingLevel1Attachment, new { @class = "notvisible" })
                                    @Html.ValidationMessageFor(m => m.FNLMarketingLevel1Attachment, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="card">
            <div class="card-head" data-toggle="collapse" data-target="#artworkqalevel2section">
                @Html.ResourceValue("Section_Title_QALevel2Section", ResourceNames.Artwork)
                <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
            </div>
            <div class="card-body" id="artworkqalevel2section">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_Comments", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.QALevel2Comments, new { maxlength = 255, @class = "form-control", @data_val = "true", @data_val_required = "Please Enter Comment", data_toggle = "tooltip", title = "Max 255 characters" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 attachment">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.LabelFor(m => m.FNLQALevel2Attachment, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <span class="text-danger text-default-light small-font">
                                        (Max. up to 5MB per file and you can upload maximum 10 files.)
                                    </span>
                                    <div id="AttachmentQALevel2" data-appname="@SiteURLs.ARTWORKSITEURL">
                                    </div>
                                    @Html.TextBoxFor(m => m.FNLQALevel2Attachment, new { @class = "notvisible" })
                                    @Html.ValidationMessageFor(m => m.FNLQALevel2Attachment, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="card">
            <div class="card-head" data-toggle="collapse" data-target="#artworkscmlevel2section">
                @Html.ResourceValue("Section_Title_SCMLevel2Section", ResourceNames.Artwork)
                <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
            </div>
            <div class="card-body" id="artworkscmlevel2section">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_Comments", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.SCMLevel2Comments, new { maxlength = 255, @class = "form-control", @data_val = "true", @data_val_required = "Please Enter Comment", data_toggle = "tooltip", title = "Max 255 characters" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 attachment">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.LabelFor(m => m.FNLSCMLevel2Attachment, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <span class="text-danger text-default-light small-font">
                                        (Max. up to 5MB per file and you can upload maximum 10 files.)
                                    </span>
                                    <div id="AttachmentSCMLevel2" data-appname="@SiteURLs.ARTWORKSITEURL">
                                    </div>
                                    @Html.TextBoxFor(m => m.FNLSCMLevel2Attachment, new { @class = "notvisible" })
                                    @Html.ValidationMessageFor(m => m.FNLSCMLevel2Attachment, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="card">
            <div class="card-head" data-toggle="collapse" data-target="#artworkadblevel2section">
                @Html.ResourceValue("Section_Title_ADBLevel2Section", ResourceNames.Artwork)
                <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
            </div>
            <div class="card-body" id="artworkadblevel2section">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_Comments", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.ADBLevel2Comments, new { maxlength = 255, @class = "form-control", @data_val = "true", @data_val_required = "Please Enter Comment", data_toggle = "tooltip", title = "Max 255 characters" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 attachment">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.LabelFor(m => m.FNLADBLevel2Attachment, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <span class="text-danger text-default-light small-font">
                                        (Max. up to 5MB per file and you can upload maximum 10 files.)
                                    </span>
                                    <div id="AttachmentADBLevel2" data-appname="@SiteURLs.ARTWORKSITEURL">
                                    </div>
                                    @Html.TextBoxFor(m => m.FNLADBLevel2Attachment, new { @class = "notvisible" })
                                    @Html.ValidationMessageFor(m => m.FNLADBLevel2Attachment, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="card">
            <div class="card-head" data-toggle="collapse" data-target="#artmarketinglevel2section">
                @Html.ResourceValue("Section_Title_MarketingLevel2Section", ResourceNames.Artwork)
                <div class="btn collapse-btn"><i class="fa fa-chevron-down"></i></div>
            </div>
            <div class="card-body" id="artmarketinglevel2section">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @*<span class="text-danger text-default-light">*</span>*@
                                    @Html.ResourceValue("Label_Comments", ResourceNames.Artwork)
                                </label>
                                <div class="col-md-8 ">
                                    <div class="form-control noborder">
                                        @Html.TextAreaFor(m => m.MarketingLevel2Comments, new { maxlength = 255, @class = "form-control", @data_val = "true", @data_val_required = "Please Enter Comment", data_toggle = "tooltip", title = "Max 255 characters" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 attachment">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    @Html.LabelFor(m => m.FNLMarketingLevel2Attachment, ResourceNames.Artwork)

                                </label>
                                <div class="col-md-8 ">
                                    <span class="text-danger text-default-light small-font">
                                        (Max. up to 5MB per file and you can upload maximum 10 files.)
                                    </span>
                                    <div id="AttachmentMarketingLevel2" data-appname="@SiteURLs.ARTWORKSITEURL">
                                    </div>
                                    @Html.TextBoxFor(m => m.FNLMarketingLevel2Attachment, new { @class = "notvisible" })
                                    @Html.ValidationMessageFor(m => m.FNLMarketingLevel2Attachment, ResourceNames.Artwork)
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

    }
</div>
